<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of productDetails | filter:search:'title'">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image"Alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                        <div class="text-center col-6">
                           <button (click)= "addTowishList(product)" class="btn btn-outline-dark mt-auto" href="#">Wishlist <i class="fa-regular fa-heart"></i></button>
                        </div>
                        <div class="text-center col-6 ">
                            <button (click)="addToCart(product)" class="btn btn-outline-dark mt-auto" href="#">Addcart <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>